/*
COLOR PALETTE

Off-White #EFE9E7
Slate #577590
Pink #efcfe3
Berry #A04668
Black #00000
*/

/* GLOBAL STYLES
-----------------------------*/
html {
    box-sizing: border-box;
    font-size: 62,5%; /* set defaul to 10px */
}
*, *:before, *after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background: #EFE9E7;
    margin: 0;
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
    line-height: 1.4;
}
h1, h2, h3 {
    font-family: "Playball", cursive;
    font-weight: 400;
    margin: 10px;
}
h1 {
    font-size: 7rem;
    color:#A04668;
    line-height: 1;
}
h2 {
    font-size: 3.6rem,
}
h3 {
    font-size: 2.4rem;
    color:#A04668;
}

/* links */
a {
    color:  #577590;
}
a:hover {
    color: #A04668;
    text-decoration: none;
}
footer a {
    color: #577590;
}
footer a:hover {
    color: #A04668;
}
.btn {
    background: #577590;
    color: #efcfe3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: .1em;
    line-height: 1;
    border-radius: 6px;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}
/* HOME
---------------- */
.home {
    background: url(../images/christina-deravedisian-UJlbhSnptTE-unsplash-resized-to-1000x755.jpeg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.home .content-wrapper {
    
    flex: 1 0 auto;
}
.content-bg {
    background: rgb(239 233 231 / 0.9);
    padding: 30px;
}
@media screen and (max-width:650px) {
        .home .content-wrapper {
            padding: 10px;
        }
        .content-bg {
            padding: 20px;
        }
}
/* RESUME
-----------------*/
.resume header::before {
    background: url(../images/christina-deravedisian-UJlbhSnptTE-unsplash-resized-to-1000x755.jpeg) center;
    background-size:cover;
    content: "";
    display: block;
    height: 250px;
}
.resume-section {
    margin-bottom: 50px;
}
.resume-section h2 {
    border-bottom: 2px dashed #577590;
}
.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
}
@media screen and (max-width: 1200px) {
    .download-link {
        position: absolute;
    }
}
@media screen and (max-width: 500px) {
    .resume header::before {
        height: 200px;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.6rem;
    }
}
/* Profile
---------------------*/


/* Projects
--------------------*/
.project-item {
    margin: 30px 0;
}
.project-item img {
  width: 300px; 
}
@media screen and (min-width: 860px) {
    .project-item {
        display: flow-root;
    }
    .project-item img {
        float: left; 
        margin-right: 20px;
    }
}
@media screen and (min-width:650px) and (max-width: 859px) {
    .project-wrapper {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .project-item img {
        width:100%;
    }
}
@media screen and (max-width:500px) {
    .project-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Work Experience
-----------------*/
.work-item { 
    margin: 30px 0;
}
.work-details p {
    margin: 0;
}
.work-summary p:first-child {
    margin: 0;
}
@media screen and (min-width:860px) {
    .work-item {
            display: grid;
            grid-template-columns: 300px 1fr;
            column-gap: 20px;

    }
}

/* Education
--------------*/
.education-item {
    margin: 30px 0;
}
.education-item p {
    margin: 0;
}
/* FOOTER
---------------*/
footer {
    background:#efcfe3;
    color: #000000;
}

.socials {
    list-style-type: none;
    padding: 0;
}
.socials li{
   display: inline-block; 
   margin-left: 10px;
}
.socials img {
    width: 32px;

}
.socials img:hover {
    opacity: 0.5;
}
@media screen and (min-width: 860px) {
    footer {
        display:flex;
        justify-content:space-between;
        padding: 0 20px;
    }
}
@media screen and (max-width: 859px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}